{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="w3l-homeblock2 py-5">
    <div class="container pt-md-4 pb-md-5">
        <!-- block -->
        <h3 class="category-title mb-3"> Fashion and Style</h3>
        <p class="mb-sm-5 mb-4 max-width">Lorem ipsum dolor sit amet elit. Id quaerat amet ipsum sunt et quos dolorum.</p>
        <div class="row">


            
            {% if news %}
            {% for item in news %}
            <div class="col-lg-4 col-md-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="{% url 'detail-post' item.id %}">
                            <img class="card-img-bottom d-block radius-image-full" src="{{ item.image.url }}"
                                alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body blog-details">
                        <a href="{% url 'detail-post' item.id %}" class="blog-desc">{{ item.title }}
                        </a>
                        <p> {{ item.description }} </p>
                        <div class="author align-items-center mt-3 mb-1">
                            <img src="{% static 'assets/images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                            <ul class="blog-meta">
                                <li>
                                    <a href="author.html">{{ item.author.username | title }} </a> </a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> {{ item.timestamp | date}} </span>. <span
                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> {{ item.timestamp|naturaltime }} </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <ul class="site-pagination text-center mt-md-5 mt-4">
            <li><span aria-current="page" class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="#page2">2</a></li>
            <li><a class="page-numbers" href="#page3">3</a></li>
            <li><span class="page-numbers dots">…</span></li>
            <li><a class="page-numbers" href="#page7">7</a></li>
            <li><a class="next page-numbers" href="#next">Next »</a></li>
        </ul>
    </div>
</div>


{% endblock content %}