{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<!-- /homeblock1-->
<section class="w3l-homeblock1 py-sm-5 py-4">
    <div class="container py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">

            {% if categories %}
            {% for category in categories %}
            <div class="col-lg-3 col-6 grids-feature">
                <a href="{% url category|slugify %}">
                    <div class="area-box">
                        <span class="fa {% if category == 'Beauty' %}fa-bath {% elif  category == 'Food' %} fa-cutlery {% else %}fa-female{% endif %}"></span>

                        <h4 class="title-head">{{ category }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endif %}
            <!-- <div class="col-lg-3 col-6 grids-feature">
                <a href="fashion.html">
                    <div class="area-box">
                        <span class="fa fa-female"></span>
                        <h4 class="title-head">Fashion and style</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                <a href="#food">
                    <div class="area-box">
                        <span class="fa fa-cutlery"></span>
                        <h4 class="title-head">Food and wellness</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                <a href="#lifsetyle">
                    <div class="area-box">
                        <span class="fa fa-pie-chart"></span>
                        <h4 class="title-head">Lifestyle</h4>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
<!-- //homeblock1-->

<section class="w3l-testimonials" id="testimonials">
    <!-- main-slider -->
    <div class="testimonials pt-2 pb-5">
        <div class="container pb-lg-5">
            <div class="owl-testimonial owl-carousel owl-theme mb-md-0 mb-sm-5 mb-4">

                {% for slider in sliders %}
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">{{slider.category|title }}</span>
                                <h3 class="title-big mb-4">{{ slider.title }}                       </h3>
                                <p class="message">{{ slider.description }}</p>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="{{ slider.image.url }}" class="img-fluid radius-image-full" alt="client image">
                            </div>
                        </div>
                    </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>






<div class="w3l-homeblock2 py-5">
    <div class="container py-lg-5 py-md-4">
        <!-- block -->
        <div class="row">
            <div class="col-lg-8">
                <h3 class="section-title-left mb-4"> Editor's Pick </h3>
                <div class="row">
                    {% if news %}
                        {% for item in news %}
                            {% if item.isEditorPick %}
                                <div class="col-lg-6 col-md-6 item">
                                    <div class="card">
                                        <div class="card-header p-0 position-relative">
                                            <a href="{% url 'detail-post' item.id %}">
                                                <img class="card-img-bottom d-block radius-image-full"
                                                    src="{{ item.image.url }}" alt="Card image cap">
                                            </a>
                                        </div>
                                        <div class="card-body blog-details">
                                            <span class="label-blue">Beauty</span>
                                            <a href="{% url 'detail-post' item.id %}" class="blog-desc">{{ item.title }}
                                            </a>
                                            <p>{{ item.description|slice:":26" }}</p>
                                            <div class="author align-items-center mt-3 mb-1">
                                                <img src="{% static 'assets/images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                                <ul class="blog-meta">
                                                    <li>
                                                        <a href="author.html">{{ item.author.username|title }}</a> </a>
                                                    </li>
                                                    <li class="meta-item blog-lesson">
                                                        <span class="meta-value"> {{ item.timestamp|date }}</span>. <span
                                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span>{{ item.timestamp | naturaltime }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  
                </div>
                <div class="mt-4 left-right bg-clr-white p-3">
                    <h3 class="section-title-left align-self pl-2 mb-sm-0 mb-3">Advertise with us </h3>
                    <a class="btn btn-style btn-primary" href="#url">Learn more</a>
                </div>
            </div>
            <div class="col-lg-4 trending mt-lg-0 mt-5">
                <div class="topics">
                    <h3 class="section-title-left mb-4"> Topics</h3>

                    {% if categories %} 
                        {% for category in categories %} 

                            <a href="{% url category|slugify %}" class="topics-list {% if category != 'Beauty' %} mt-3{% endif %}">
                                <div class="list1">
                                    <span class="fa {% if category == 'Beauty' %}fa-bath {% elif  category == 'Food' %} fa-cutlery {% else %}fa-female{% endif %}"></span>
                                    <h4>{{ category }}</h4>
                                </div>
                            </a>

                        {% endfor %} 
                    {% endif %}


                    
                </div>
                <div class="sponsers mt-5">
                    <h3 class="section-title-left mb-4"> Our sponsers</h3>
                    <a href="#ad-banner"><img src="{% static 'assets/images/ad.jpg' %}" alt="" class="img-fluid radius-image-full" /></a>
                    <a href="#advertise" class="text-center d-block text-uppercase">Advertise with us </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="w3l-homeblock3 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left mb-4"> Top Pick's of this month </h3>
        <div class="row top-pics">
            <div class="col-lg-4 col-md-6">
                <div class="top-pic1">
                    <div class="card-body blog-details">
                        <a href="#blog-single.html" class="blog-desc">Fashion is
                            Creating your Beauty image. The New fashion starts here
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/a1.jpg" alt="" class="img-fluid rounded-circle" />
                            <ul class="blog-meta">
                                <li>
                                    <a href="author.html">Isabella ava</a> </a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> July 13, 2020 </span>. <span
                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="top-pic2">
                    <div class="card-body blog-details">
                        <a href="#blog-single.html" class="blog-desc">The 5 Nonnegotiables of a Healthy Quarantine food that a Doctor Approved
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle" />
                            <ul class="blog-meta">
                                <li>
                                    <a href="author.html">Charlotte mia</a> </a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> July 13, 2020 </span>. <span
                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="top-pic3">
                    <div class="card-body blog-details">
                        <a href="#blog-single.html" class="blog-desc"> Right food baked with natural ingredient, the use of best quality products
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/a3.jpg" alt="" class="img-fluid rounded-circle" />
                            <ul class="blog-meta">
                                <li>
                                    <a href="author.html">Elizabeth</a> </a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> July 13, 2020 </span>. <span
                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->







<div class="w3l-homeblock2 py-5">
    <div class="container py-lg-5 py-md-4">
        <!-- block -->
        <div class="left-right">
            <h3 class="section-title-left mb-sm-4 mb-2"> Fashion and style</h3>
            <a href="{% url 'fashion-and-style' %}" class="more btn btn-small mb-sm-0 mb-4">View more</a>
        </div>
        <div class="row">

            {% if news %} 
            {% for item in news %}
            {% if item.category == "fashion and Style" %}
            <div class="col-lg-4 col-md-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="{% url 'detail-post' item.id %}">
                            <img class="card-img-bottom d-block radius-image-full" src="{{ item.image.url }}"
                                alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body blog-details">
                        <a href="{% url 'detail-post' item.id %}" class="blog-desc">{{ item.description|slice:":30" }}
                        </a>
                        <div class="author align-items-center">
                            <img src="{% static 'assets/images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                            <ul class="blog-meta">
                                <li>
                                    <a href="author.html">{{ item.author.username|title }}</a> </a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> {{ item.timestamp|date }} </span>. <span
                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> {{ item.timestamp|naturaltime }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}


        </div>
    </div>
</div>
<div class="w3l-homeblock2 w3l-homeblock5 py-5">
    <div class="container py-lg-5 py-md-4">
        <!-- block -->
        <div class="left-right">
            <h3 class="section-title-left mb-sm-4 mb-2"> Beauty</h3>
            <a href="{% url 'beauty' %}" class="more btn btn-small mb-sm-0 mb-4">View more</a>
        </div>
        <div class="row">


            {% for item in news %} 
            {% if item.category == 'beauty' %}
            <div class="col-lg-6">
                <div class="bg-clr-white hover-box">
                    <div class="row">
                        <div class="col-sm-5 position-relative">
                            <a href="{% url 'detail-post' item.id %}" class="image-mobile">
                                <img class="card-img-bottom d-block radius-image-full" src="{{ item.image.url }}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="col-sm-7 card-body blog-details align-self">
                            <a href="{% url 'detail-post' item.id %}" class="blog-desc">{{ item.description|slice:":30"}}
                            </a>
                            <div class="author align-items-center">
                                <img src="{% static 'assets/images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">{{ item.author.username| title }}</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{ item.timestamp|date }} </span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span> {{ item.timestamp|naturaltime }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
           
        </div>
    </div>
</div>
<div class="w3l-homeblock2 w3l-homeblock6 py-5">
    <div class="container-fluid px-sm-5 py-lg-5 py-md-4">
        <!-- block -->
            <h3 class="section-title-left mb-4"> Trending Now</h3>
        <div class="row">


            {% for item in news %} 
            {% if item.isTrending %} 

            <div class="col-lg-6">
                <div class="bg-clr-white hover-box">
                    <div class="row">
                        <div class="col-sm-6 position-relative">
                            <a href="{% url 'detail-post' item.id %}">
                                <img class="card-img-bottom d-block radius-image-full" src="{{ item.image.url }}"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="col-sm-6 card-body blog-details align-self">
                            <span class="label-blue">Sports</span>
                            <a href="{% url 'detail-post' item.id %}" class="blog-desc">{{ item.title|slice:":30" }}...
                            </a>
                            <p> {{ item.description|slice:":30" }}..</p>
                            <div class="author align-items-center mt-3">
                                <img src="{% static 'assets/images/a2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">{{ item.author.username|title }}</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{ item.timestamp|date }} </span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span> {{ item.timestamp|naturaltime }} </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %} 

            {% endfor %}
            
        </div>
    </div>
</div>
<div class="w3l-subscribe py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="w3l-subscribe-content text-center bg-clr-white py-md-5 py-2">
            <div class="py-5">
                <h3 class="section-title-left mb-2">Subscribe to our newsletter!</h3>
                <p class="mb-md-5 mb-4">We'll send you the best of our blog just once a month. We promise. </p>
                <form action="#" method="GET" class="subscribe">
                    <input type="email" class="subscribe_input" name="search" placeholder="Email address" required="">
                    <button class="btn btn-style btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}


